<%- include('../partials/header') %>

<div class="layout__wrapper">
  <div class="layout__sidebar collapsed layout__sidebar-collapse">
    <div>
      <h1
        class="sidebar__title collapsed-title"
        style="visibility: visible; display: inline-block"
      >
        <img
          src="https://wpwww-prod.s3.us-west-2.amazonaws.com/uploads/sites/42/2023/08/Google_Bard_logo-300x300.jpg"
          height="30px"
          width="auto"
          position="relative"
        />
        <!-- <i class="las la-sticky-note"></i><span></span> -->
      </h1>
      <h1
        class="sidebar__title expanded-title"
        style="visibility: hidden; display: none"
      >
        <i style="position: relative; left: 10px"
          ><img
            src="https://wpwww-prod.s3.us-west-2.amazonaws.com/uploads/sites/42/2023/08/Google_Bard_logo-300x300.jpg"
            height="20px"
            width="auto"
          />N</i
        >
        <div style="display: inline" class="sidebar__title-expanded">
          oted<span>.</span>
        </div>
      </h1>
    </div>
    <div>
      <ul>
        <li>
          <a href="/dashboard" class="sidebar-link">
            <div>
              <i class="las la-home"></i>
              <span class="sidebar__link-text" style="opacity: 0; display: none"
                >Dashboard</span
              >
            </div>
          </a>
        </li>
        <!-- <li>
          <a href="/chat" class="sidebar-link">
            <div>
              <i class="las la-comments"></i>
              <span class="sidebar__link-text" style="opacity: 0; display: none"
                >AI Chat</span
              >
            </div>
          </a>
        </li> -->

        <li>
          <a href="/folders" class="sidebar-link">
            <div>
              <i class="las la-folder"></i>
              <span class="sidebar__link-text" style="opacity: 0; display: none"
                >Folders</span
              >
            </div>
          </a>
        </li>
        <!-- <li>
          <a href="/categories" class="sidebar-link">
            <div>
              <i class="las la-list"></i>
              <span class="sidebar__link-text">Categories</span>
            </div>
          </a>
        </li> -->
        <li>
          <a href="/shared" class="sidebar-link">
            <div>
              <i class="las la-share"></i>
              <span class="sidebar__link-text" style="opacity: 0; display: none"
                >Shared Notes</span
              >
            </div>
          </a>
        </li>
      </ul>
    </div>

    <div class="layout__sidebar-logout-container">
      <!-- logout -->
      <a href="/logout" method="post" class="sidebar-link">
        <div>
          <i class="las la-sign-out-alt logout"></i>
          <span
            class="sidebar__link-text logout"
            style="opacity: 0; display: none"
            >Logout</span
          >
        </div>
      </a>
    </div>
  </div>
  <div class="layout__container">
    <!-- subheader partial -->
    <%- include('../partials/subheader') %>

    <!--     
    <div class="layoutBody">content</div>
  </div>
</div> -->
    <!-- </div>
</div> -->
  </div>
</div>
