<%- include('../partials/header') %>

<div class="layout__wrapper">
  <div class="layout__sidebar"></div>
  <div class="layout__container">
    <!-- subheader partial -->
    <%- include('../partials/subheader') %>

    <!--     
    <div class="layoutBody">content</div>
  </div>
</div> -->
    <!-- </div>
</div> -->
