<div class="layout__subheader">
  <div>
    <i
      class="las la-bars layout__subheader-icon"
      id="collapse"
      class="layout__subheader-icon"
    ></i>
    <i
      class="las la-arrow-right layout__subheader-icon"
      id="expand"
      class="layout__subheader-icon"
    ></i>
  </div>
  <!-- user obj -->

  <% if (user) { %>
  <div class="layout__subheader__user">
    <div class="layout__subheader__user__avatar">
      <img src="<%= user.avatar %>" alt="<%= user.username %>" />
    </div>
    <div class="layout__subheader__user__info">
      <h4><%= user.username %></h4>
      <p><%= user.email %></p>
    </div>

    <!-- <div class="layout__subheader__user__actions">
      <a href="/logout" class="btn btn--primary">Logout</a>

      <a href="/profile" class="btn btn--secondary">Profile</a>
    </div> -->
  </div>
  <% } else { %> <% } %>
</div>

<script defer>
  const layoutSidebar = document.querySelector(".layout__sidebar");
  const collapseButton = document.querySelector("#collapse");
  const expandButton = document.querySelector("#expand");
  const sidebarTitle = document.querySelector(".collapsed-title");
  const sidbarTitleExpaneded = document.querySelector(".expanded-title");
  const allSideBarText = document.querySelectorAll(".sidebar__link-text");

  collapseButton.addEventListener("click", function () {
    layoutSidebar.classList.toggle("collapsed");
    collapseButton.style.display = "none";
    expandButton.style.display = "block";
    layoutSidebar.classList.add("layout__sidebar-collapse");
    sidbarTitleExpaneded.style.visibility = "hidden";
    sidebarTitle.style.visibility = "visible";
    sidebarTitle.style.display = "inline-block";
    sidbarTitleExpaneded.style.display = "none";

    allSideBarText.forEach((text) => {
      text.style.opacity = "0";
      text.style.display = "none";
    });
  });

  expandButton.addEventListener("click", function () {
    layoutSidebar.classList.toggle("collapsed");
    expandButton.style.display = "none";
    collapseButton.style.display = "block";
    layoutSidebar.classList.remove("layout__sidebar-collapse");
    sidbarTitleExpaneded.style.visibility = "visible";
    sidebarTitle.style.visibility = "hidden";
    sidebarTitle.style.display = "none";
    sidbarTitleExpaneded.style.display = "inline-block";

    allSideBarText.forEach((text) => {
      text.style.opacity = "1";
      text.style.display = "inline-block";
    });
  });
</script>

