<%- include('../partials/header') %> <%- include('../partials/sidebar') %>

<div class="layout__body">
      <h1 class="dashboard__title">
        Welcome <%= user.name %>
      </h1>
    </div>
</div>
</div>
<%- include('../partials/footer') %>

<style>
  .layout__body {
  padding: 1rem;
  background: #F5F5F5;
  height: 100%;
  padding: 3rem 5rem;
}
.dashboard__title {
  font-size: 2rem;
  margin-bottom: 1rem;
    color: #2a2438;

  font-weight: 300;
}

</style>




