@import url("https://fonts.googleapis.com/css2?family=Paytone+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html {
  overflow: hidden;
}
body {
  margin: 0;
  background-color: #fcfefe;
  color: #383838;
  font-family: "Roboto", sans-serif;
  background-image: linear-gradient(#f4f4f4 1px, transparent 1px),
    linear-gradient(to right, #f4f4f4 1px, transparent 1px);
  background-size: 32px 32px;
  background-color: #fafafa;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.button-53 {
  z-index: 200000;
  color: #fcfefe;
  background-color: #3dd1e7;
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
  display: flex;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  justify-content: center;
  line-height: 1.75rem;
  padding: 0.75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration-thickness: auto;
  width: 100%;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  max-width: 250px;
}

.button-53:focus {
  outline: 0;
}

.button-53:after {
  content: "";
  position: absolute;
  border: 1px solid #4a87c0;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.button-53:hover:after {
  bottom: 2px;
  left: 2px;
}

@media (min-width: 768px) {
  .button-53 {
    padding: 0.75rem 3rem;
    font-size: 1.25rem;
  }
}
